doctype html
html(lang="pt-br")
  head
    meta(charset='utf-8')
    title Editar Cliente - Diário de Bordo
    link(rel="stylesheet", href="/style.css")
  body
    nav
      a(href="/") 🏠 Início
      a(href="/create") ➕ Novo Cliente
      a(href="/sobre") 📝 Sobre a Aula

    main.card.form-card
      h2 ✏️ Editar Cliente
      form(role='form' method='POST' action=`/edit/${client.id}`)
        .form-group
          label(for='nome') Nome:
          input#name(type='text', placeholder='Digite o nome' name='nome' value=client.nome required)
        
        .form-group
          label(for='email') Email:
          input#email(type='email', placeholder='cliente@email.com' name='email' value=client.email required)
        
        button(type="submit" onclick="alert('Dados do cliente alterados')") Atualizar Cliente